# 创建服务
# sudo cp /www/wwwroot/lsdong/systask.timer /usr/lib/systemd/system
# sudo systemctl enable systask.timer
# sudo systemctl start systask.timer
# sudo systemctl status systask.timer

[Unit]
Description=Runs lsdong file clear task every day

[Timer]
OnBootSec=30min
OnCalendar=*-*-* 5:00:00
AccuracySec=15min
RandomizedDelaySec=15min
Unit=systask.service

[Install]
WantedBy=multi-user.target