# 创建服务
# sudo cp /www/wwwroot/lsdong/systask.service /usr/lib/systemd/system

[Unit]
Description=lsdong file clear task

[Service]
Type=simple
# sudo apt-get install curl
ExecStart=/usr/bin/curl http://127.0.0.1:8000/systask
