{% extends 'base.html'%}
{% block RenderBody %}

<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">老树洞</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">首页</a></li>
                    <li><a href="/help/about.html" >关于</a></li>
                    <li><a target="_blank" href="https://github.com/lsdongcom/lsdong/blob/master/README.md">帮助</a></li>
                    <li><a href="mailto:admin#lsdong.com">联系我们</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">开源<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a target="_blank" href="https://github.com/lsdongcom/lsdong">源代码</a></li>
                            <li><a target="_blank" href="https://github.com/lsdongcom/lsdong/blob/master/README.md">文档</a></li>
                            <li><a target="_blank" href="https://github.com/lsdongcom/lsdong/blob/master/LICENSE">版权</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a target="_blank" href="https://github.com/lsdongcom/lsdong/issues">bug 跟踪</a></li>
                            <li><a href="mailto:admin#lsdong.com">加入我们</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li style="display:none"><a href="tel:000-000-0000">热线电话：000-000-0000</a></li>
                    <li><a href="{{ siteinfo['onlineservice_url'] }}" target="_blank">客服在线</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    <div class="container-fluid foot-wrap">
         <p align="center" style="margin-top: -10px;color:red;">
            {{ site_notify }}
        </p>
    </div>
    <div id="div_broswer_warning" style="text-align:center;display:none">
        <p align="center" style="margin-top: -10px;color:red;font-size: 26px;">
            你正在使用的浏览器版本过低，将不能正常浏览和使用老树洞安全存储，且存在安全隐患，<br>推荐使用
            <a target="_blank" href="https://www.microsoft.com/zh-cn/download/internet-explorer.aspx">IE10</a>
            以上版本或
            <a target="_blank" href="https://www.google.com/chrome/">google chrome</a>
            最新版本。
        </p>
    </div>
    <div id="login_container" style="text-align:center">
    </div>
    <script src="https://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
    <script>
        var obj = new WxLogin({
                id:"login_container",
                appid: "{{ data['appid'] }}",
                scope: "snsapi_login",
                redirect_uri: "{{ returnurl }}",
                state: "",
                style: "",
                href: ""
            });
    </script>
    <style>
        a.protocol:link{color: #000000 ; text-decoration:none;} /*常规时候的样式*/
        a.protocol:visited{color: #000000; text-decoration:none;} /*鼠标指上去的样式*/
        a.protocol:hover {color: #000000; text-decoration:underline;} /*访问过后的样式*/
    </style>
    <!-- Main component for a primary marketing message or call to action -->
    <div style="text-align:center"><p>使用前请阅读:<u><a class="protocol" href="/help/protocol.html" >老树洞安全存储服务协议</a></p></u></div>
    <div class="jumbotron">
        <h2>老树洞安全存储——免费、开源、全程加密、离散存储</h2>
        <p>
            数据的安全存储涉及到三个存储环节：授权登录环境安全不可破解、传输过程安全不可破解、存储文件安全不可破解。老树洞采用微信二维码授权登录模式，物理隔绝了使用设备和授权设备，保证授权登录环境安全不可破解，同时无需记住登录密码，更便捷。老树洞全程采用https加密协议传输数据，最新版的chrome或firefox浏览器，更可增加TLS 1.3加密协议支持，保证传输过程安全不可破解。
        </p>
        <p>
            针对服务器端的存储安全，老树洞创新设计基于文件的用户离散加密存储构架，具有六大安全特征，为您的文件数据安全精准护航……
        </p>
        <p>
            微信扫描上方二维码，立刻体验老树洞安全存储服务，如有疑问，请点击右上角在线客服与我们联系。</p>
        <p>
            <a class="btn btn-lg btn-primary" href="/help/about.html" role="button">了解更多安全细节 &raquo;</a>
        </p>
    </div>

</div> <!-- /container -->

{% end %}

{% block RenderBodyFoot %}
<script>
        var abc = getBroswer();
        if(abc.broswer.toLowerCase() == 'ie' && parseFloat(abc.version) < 10){
            $("#div_broswer_warning").show();
            $("#login_container").hide();
        }
</script>
{% end %}
