{% extends 'base.html'%}
{% block RenderBody %}

<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">老树洞</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">首页</a></li>
                    <li><a href="/help/about.html" >关于老树洞</a></li>
                    <li><a href="/help/aboutus.html" >关于我们</a></li>
                    <li><a href="/help/contactus.html" >联系我们</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">开源<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a target="_blank" href="https://github.com/lsdongcom/lsdong">源代码</a></li>
                            <li><a target="_blank" href="https://github.com/lsdongcom/lsdong/blob/master/README.md">文档</a></li>
                            <li><a target="_blank" href="https://github.com/lsdongcom/lsdong/blob/master/LICENSE">版权</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a target="_blank" href="https://github.com/lsdongcom/lsdong/issues">bug 跟踪</a></li>
                            <li><a href="https://github.com/lsdongcom/lsdong/graphs/contributors">加入我们</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li style="display:none"><a href="tel:000-000-0000">热线电话：000-000-0000</a></li>
                    <li><a href="{{ siteinfo['onlineservice_url'] }}" target="_blank">客服在线</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h2>老树洞安全存储服务协议</h2>
        <p>
<pre style="white-space: pre-wrap;word-wrap: break-word;font-size: 16px;">一、老树洞安全存储服务协议的确认和接受
老树洞安全存储（lsdong.com）依照本服务协议为用户提供网络存储服务，当服务使用者（以下称“用户”）使用老树洞安全存储存储服务时，用户应当同意本服务协议的全部内容并遵守与该项服务相关的规则与要点。
老树洞安全存储服务协议以及公告由老树洞安全存储随时更新，且无需另行通知。您在使用相关服务时，应关注并遵守其所适用的相关条款。
如用户违反此用户协议中所规定的内容，或与老树洞安全存储发生纠纷，用户不得以未仔细阅读为由实行抗辩。
二、使用规则
1、用户在老树洞安全存储的网页上发布信息或者使用老树洞安全存储的服务时必须符合《计算机信息网络国际联网安全保护管理办法》、《互联网信息服务管理办法》、《互联网电子公告服务管理规定》、《维护互联网安全的决定》、《互联网新闻信息服务管理规定》等相关法律规定。
2、不得利用老树洞安全存储的服务复制、发布、传播或以其它方式传送含有下列内容之一的信息：
1) 反对宪法所确定的基本原则；
2) 危害国家安全、泄露国家秘密、颠覆国家政权、破坏国家统一；
3) 损害国家荣誉和利益；
4) 攻击政府、政府官员；
5) 散布谣言、扰乱社会秩序、破坏社会稳定；
6) 煽动民族仇恨、民族歧视、破坏民族团结；
7) 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；
8) 破坏国家宗教政策，宣扬邪教和封建迷信的；
9) 侮辱或者诽谤他人，侵害他人合法权利的；
10) 煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的；
11) 以非法民间组织名义活动的；
12) 含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容；
13) 可能会妨害第三方权益的文件或者信息，例如（包括但不限于）：病毒代码、黑客程序、软件破解注册信息等；
14) 含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容。
3、用户违反本协议或相关的服务条款的规定，导致或产生的任何第三方主张的任何索赔、要求或损失，包括合理的律师费，您同意赔偿老树洞安全存储开发组，并使之免受损害。对此，老树洞安全存储开发组有权视用户的行为性质，采取包括但不限于删除用户上传的文件、暂停使用许可、终止服务、回收帐号、追究法律责任等措施。对恶意老树洞安全存储帐号或利用老树洞安全存储服务进行违法活动、捣乱、骚扰、欺骗、其他用户以及其他违反本协议的行为，老树洞安全存储开发组有权回收其帐号。同时，老树洞安全存储开发组会视司法部门的要求，协助调查。
4、用户应承担所有因其个人行为而直接或间接导致的民事或刑事法律责任，因用户行为给老树洞安全存储开发组造成损失的，用户应负责赔偿。
5、老树洞安全存储不对用户所发布信息的删除或储存失败承担任何责任。老树洞安全存储有权判定用户的行为是否符合中国法律法规的规定以及 老树洞安全存储服务协议的要求，如果用户违背了有关法律法规的规定或本协议的规定，老树洞安全存储有中断对其提供服务的权利。
6、对于用户通过老树洞安全存储网络技术服务上传到老树洞安全存储上可公开获取区域的任何内容，用户同意授予老树洞安全存储在全世界范围内永久性的、不可撤销的、免费的、非独家的和再许可的权利和许可，老树洞安全存储可以使用、复制、修改、改编、出版、翻译、据以创作衍生作品、传播、表演和展示该等内容的全部或部分，或将此等内容的全部或部分编入其他任何形式的作品、媒体或技术中。
7、老树洞安全存储开发组不保证用户在老树洞安全存储中所发布信息的安全性和合法性。
8、本规则未涉及的问题参见国家有关法律法规，当本规则与国家法律法规冲突时，以国家法律法规为准。
三、服务说明
鉴于网络服务的特殊性，老树洞安全存储有权随时变更或中断或终止部分或全部网络服务，不需对用户或第三方负责。为了网站的正常运行，老树洞安全存储定期或不定期地对提供网络服务的平台（如互联网网站、移动网络等）或相关的设备进行检修或者维护而造成网络服务的中断，老树洞安全存储将尽力避免服务中断或将中断时间限制在最短时间内，在合理时间内的服务中断，老树洞安全存储无需为此承担任何责任。
四、用户名、用户密码和安全性
用户将对用户名和密码安全承担全部责任。用户可随时根据提示改变用户的密码。用户不应将其帐号、密码转让或出借予他人使用。如用户发现其帐号遭他人非法使用或存在安全漏洞的情况，应立即通知老树洞安全存储。因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用，老树洞安全存储不承担任何责任。
五、用户隐私制度
尊重和保护用户个人隐私是老树洞安全存储的一项基本政策。老树洞安全存储不会在未经合法用户授权时对外披露用户注册资料及用户保存在老树洞安全存储网中的非公开内容，但下列情况除外：
1  事先获得用户的明确授权；
2  老树洞安全存储管理员审核过程中，认为用户文件有违法、违规嫌疑；
3  根据有关法律法规的规定或相关政府主管部门的要求；
4  为维护社会公共利益的需要；
5  为维护老树洞安全存储的合法权益。
6  对于用户所登录的个人资料，用户同意老树洞安全存储可以在合理范围内搜集、处理、保存、传递及使用该资料，以提供用户其它信息及服务或做成会计资料，或进行网络行为的调查或研究，或其它任何合法使用。
7  老树洞安全存储无法保证不将用户的个人资料或通讯内容给予第三者。举例来说，如果政府需要资料时老树洞安全存储将被迫交出，或者是有其它的第三者拦截网络的传输内容。此外，用户授权老树洞安全存储可将用户的资料给予执法机关或政府相关单位，以利调查或问题解决的进行。除此之外，当用户要求老树洞安全存储给予任何技术上的协助时，用户授权老树洞安全存储远程检视与更改用户计算机的内容。为了更新程序的需要，用户授权老树洞安全存储从用户的计算机上传档案下载档案到用户的计算机。
六、免责声明
用户同意对老树洞安全存储网络服务的使用承担全部风险，并对因其使用老树洞安全存储网络服务而产生的一切后果承担全部风险，老树洞安全存储对用户不作任何类型的担保，也不承担任何责任。 老树洞安全存储不担保网络服务一定能满足用户的要求，也不担保网络服务不会中断，对服务的及时性、安全性、准确性都不作担保。 对于因不可抗力或 老树洞安全存储不能避免或控制的原因造成的网络服务中断或其它缺陷， 老树洞安全存储不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。
七、损害赔偿责任
用户同意保障和维护老树洞安全存储及其他用户的利益，如因用户违反有关法律、法规或本服务协议的任何条款而给 老树洞安全存储或任何其他第三人造成损失，用户同意承担由此造成的损害赔偿责任。 老树洞安全存储对用户使用网络服务所产生的任何直接、间接、偶然、特殊及继起的损害不负责任，这些损害可能来自：不正当使用网络服务、在网上购买商品或进行同类型服务、在网上进行交易、非法使用网络服务或用户传送的信息有所变动。
八、服务条款的修改和效力
1、老树洞安全存储根据中华人民共和国有关法律、法规的变化和互联网的发展过程中相关规定的出台，不断地完善和修改老树洞安全存储服务条款。
2、老树洞安全存储服务条款一旦发生变动，将会在重要页面上提示修改内容，用户可以作如下选择：
3、如果不同意所改动的内容，用户可以主动取消获得的老树洞安全存储服务，老树洞安全存储扣除相关费用后，退还余款。
4、如果用户继续享用老树洞安全存储服务，则视为接受服务条款的变动。
5、用户要继续使用老树洞安全存储服务，有必要对最新的老树洞安全存储服务条款进行仔细阅读和重新确认。当发生有关争议时，以最新的服务条款为准。
九、其他规定
1  本服务协议中的标题仅为方便而设，在解释本服务协议时应被忽略。
2  本服务协议的订立、执行和解释及争议的解决均应适用中华人民共和国法律。
3  老树洞安全存储未行使或执行本服务协议任何权利或规定，不构成对前述权利或权利之放弃。
老树洞安全存储保留所有权利</pre>
</p>
<p>
	<br />
</p>
    </div>

</div> <!-- /container -->

{% end %}
